@model CocktailServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Cocktail Image">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h6>Recipe: <b>@Model.Recipe</b></h6>
            <h6>Preparation: <b>@Model.Preparation</b></h6>
            <br />
            <a asp-controller="Cocktail" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated)
            {
                <a asp-controller="Cocktail" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                <a asp-controller="Cocktail" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                <p></p>
            }
        </div>
    </div>
</div>